<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Game of Life</title>
    <link rel="stylesheet" type="text/css" href="style.css">
  </head>
  <body>
    <h1>Conway's Game of Life</h1>
    <p>The Game of life is a zero player game developed in the 70s by John Horton Conway. Check out the <a href="https://en.wikipedia.org/wiki/Conway%27s_Game_of_Life">wikipedia article</a> for a full description.</p>
    <p>The evolving state of the game is determined by the initial configuration - some configurations become infinitely evolving constellations, others eventually evolve into a stable patterns, whilst others die off completely.
    It is commonly used as a tech test as it can be solved in many different ways that clearly show the level of the programmer.</p>
    <p>This version starts with a randomly generated 100x50 grid of alive & dead cells.</p>
    <a href="/">
      <button type="button" class="btn">
         Restart
       </button>
    </a>
  </body>
</html>
