<head>
  <link href="https://fonts.googleapis.com/css?family=Athiti" rel="stylesheet">
  <meta http-equiv="refresh" content="0.7; url=/loop" />
</head>
<%= erb(:header) %>
<p>
  <a href="/pause">
    <button type="button" class="btn">
      Pause ||
    </button>
  </a>
</p>
<%= erb(:grid) %>
