<head>
  <link rel="stylesheet" type="text/css" href="style.css">
</head>
<a href="/loop">continue</a>
<div>
<% @game.out_array.each do |row| %>
  <div class="table-row">
    <% row.each do |cell| %>
      <div class="cell type<%=cell%>"></div>
    <% end %>
  </div>
<% end %>
</div>
<a href="/">Restart</a>
