<head>
  <link href="https://fonts.googleapis.com/css?family=Athiti" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="style.css">
</head>
<%= erb(:header) %>
<p>
  <a href="/loop">
    <button type="button" class="btn">
      Continue >
    </button>
  </a>
</p>
<%= erb(:grid) %>
